<mat-sidenav-container>
    <mat-sidenav #menuLateral>
        <mat-nav-list>
            <div *ngFor="let opcion of opciones">
                <div class="menu-button" [routerLink]="opcion.url" (click)="menuLateral.toggle()">
                    <img [src]="opcion.icono">
                    {{ opcion.titulo }}
                    <i class="fas fa-link link-icon"></i>
                </div>
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="menuLateral.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon>home</mat-icon>
            </button>
            <img src="imagenes/Logo FIFA.jpg" height="80px">
            <div class="centrar">Campeonatos de la FIFA</div>
            <button mat-raised-button (click)="login()">
                <mat-icon>person</mat-icon>
                Login
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>