<div mat-dialog-content>
    <p>Credenciales de Acceso</p>
    <mat-form-field appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput [(ngModel)]="datos.usuario">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Clave</mat-label>
      <input type="password" matInput [(ngModel)]="datos.clave">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="datos" cdkFocusInitial>Ingresar</button>
  </div>
